<center>
  <% if @data %>
    <% @data["data"].each_with_index do |x, index|%>
      <% if index%5 == 0 %>
        </br></br>
      <% end %>
      <a class="th">
        <img src="<%= x["images"]["thumbnail"]["url"] %>" id="<%= index %>" class="hashtag-images" />
        <i class="fa fa-check" id='bigger'></i>
      </a>
    <% end %>
  <% end %>
</center>

<script>

$('.fa-check').hide()

$('.th').on('click', function(e) {
  if ($(this).prop("checked") == undefined){
    $(this).prop("checked", true)
  }
  else{
     $(this).prop("checked", !($(this).prop("checked")))
  }

  if ( $(this).prop("checked")){
    $(this).children('img').css('opacity', 0.5);
    $(this).children('.fa-check').show();
  }
  else{
    $(this).children('img').css('opacity', 1);
    $(this).children('.fa-check').hide();
  }
})

</script>