<section class="banner-all">
  <div class="small-12 columns">
    <a href="/">
      <%= image_tag("cloud7.png", :size => "150x150")%>
    </a>
    <a href="/videos" class="button radius" id="searchbutton"> SEARCH VIDEOS </a>
    <a href="/search" class="button radius" id="createbutton"> CREATE VIDEO </a>
  </div>
  <br>
  <br>
</section>


<center>

<h1><%= @video.title %></h1>

<h3><%= @video.tag %></h3>

<iframe width="420" height="315" src="//<%= @video.url %>" frameborder="0" allowfullscreen></iframe>
</center>