
<section class="hero">
  <section class="container2">
<!--     <div class="clearfix">
    <div class="button-bar right">
      <ul class="button-group">
    <a href="/videos" class="button radius" id="searchbutton">SEARCH VIDEOS</a>
    <a href="/search" class="button radius" id="createbutton">CREATE VIDEO </a>
  </ul> -->
  </div>
</div>
  <br>
  <br>
  <div class="large-12 columns">
    <center>
      <br>
      <br>
      <br>
      <div class="cloud"><%= image_tag "cloud7.png" %></div>
      <h3 class="purposetext3">Turn Your Social Content Into A Video.</h3><br>
      <div class="large-6 large-centered columns">
        <a href="/videos" class="button radius" id="searchbutton"><i class="fa fa-search"></i>&nbsp;SEARCH VIDEOS</a>
        <a href="/search" class="button radius" id="createbutton">&nbsp;<i class="fa fa-pencil"></i>&nbsp;CREATE VIDEO&nbsp;</a>
      </div>
    </center>
  </div>
  </section>
</section>

<br>
<br>

<div class="large-12 columns">
  <center>
    <h1 class="purposetext">Over One Zillion Videos, Dozens of Purposes</h1>
    <h3 class="purposetext2">From community events to a wedding, people are</h3>
    <h3 class="purposetext2">turning social content into shareable videos every day.</h3>
  </center>
</div>

<br>

<div class="large-12 columns">
  <br>
  <br>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div class="large-12 large-centered columns">
  <center>

    <br>
<!--     <i class="fa fa-group parallex1" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-diamond parallex2" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-flag-o parallex3" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-graduation-cap parallex4" id="groupsize" style="color:#3c7db0"></i>
    <i class="fa fa-building parallex5" id="groupsize" style="color:#3c7db0"></i>
  </center> -->
  </center>
</div>

<div class="large-12 large-centered columns">
</div>

<div class="large-9 large-centered columns">
  <div class="videoplayer">
  <center>
    <div class="html5gallery" data-skin="gallery" data-carouselbgtransparent="true" data-width="1000" data-height="400" data-thumbgap="40" data-thumbwidth="155" data-thumbheight="170" data-thumbshowplayonvideo="true" data-titlecss="none" style="display:none;" data-carouselmargin="8" data-thumbimagebordercolor="transparent" data-thumbmargin="20" data-response="true" data-watermark="/assets/hashmashwatermark.png" data-showtitle="false" data-titleoverlay="false" data-titleheight="60" data-googlefonts="Dosis|Berkshire+Swash" data-css="{font-family: Dosis;}" data-thumbshowtitle="false" >
     <!-- Add images to Gallery -->
      <span class="videotext"><a href="http://s3.amazonaws.com/hashmashc10/tmp/mctigrit/final/mctigrit.mp4"><img src="/assets/polaroid2.png"></a></span>

      <a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="/assets/polaroid2.png" alt="Video Dos"></a>

   <!-- Add videos to Gallery -->
      <a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="/assets/polaroid2.png" alt="Video Tres"></a>

  <!-- Add Youtube video to Gallery -->
      <a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="/assets/polaroid2.png" alt="Video Cuatro"></a>

  <!-- Add Vimeo video to Gallery -->
      <a href="http://www.youtube.com/embed/YE7VzlLtp-4"><img src="/assets/polaroid2.png" alt="Video Cinco"></a>
    </div>
  </center>
</div>
</div>
<br>
<br>
<div class="large-12 columns sharecontainer">
  <br>
  <br>
  <div class="content">
  <div class="infographicpic"><%= image_tag "share.png" %></div>
  <div class="infographictext"><span class="textspace1">SHARE LIFE'S MOMENTS WITH FRIENDS.</span><br><br><span class="infographictext2"><span class="textspace2">With HashMash, we've made it super easy for you to share the greatest moments of your life with family and friends.<br>Simply assign a hashtag to your event, use it when capturing instagram and twitter media, and mash it together into a video through our site.  Your mash can then be shared through specified social networks.</span></div></span>
</div>
</div>
</div>

<div class="large-12 columns footerindex">
</div>


