
<section class="hero">
        <section class="container2">
        <%= image_tag "hashmashhero.jpg" %>
        </section>
 </section>
<br>
<br>
<div class="large-12 columns">
 <center><h1 class="purposetext">Over One Million Videos, Dozens of Purposes</h1>
 <h3 class="purposetext2">From community events to a wedding, people are</h3>
 <h3 class="purposetext2">turning social content into shareable videos every day.</h3></center>
</div>