
<section class="hero">
        <section class="container2">


       <a href="/videos" class="button radius" id="searchbutton"> SEARCH VIDEOS </a>
      <a href="/videos/new" class="button radius" id="createbutton"> CREATE VIDEO </a>

      <br>
      <br>
<div class="large-12 columns"><center>
  <div class="cloud"><%= image_tag "cloud7.png" %></div>
</center>
</div>
        </section>
 </section>
<br>
<br>
<div class="large-12 columns">
 <center><h1 class="purposetext">Over One Million Videos, Dozens of Purposes</h1>
 <h3 class="purposetext2">From community events to a wedding, people are</h3>
 <h3 class="purposetext2">turning social content into shareable videos every day.</h3></center>
 </div>
 <br>
<div class="large-12 columns">
  <br>
  <br>
</div>

<div class="large-12 columns">
  <center>
 <i class="fa fa-group" id="groupsize" style="color:#3c7db0"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <i class="fa fa-diamond" id="groupsize" style="color:#3c7db0"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <i class="fa fa-flag-o" id="groupsize" style="color:#3c7db0"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <i class="fa fa-graduation-cap" id="groupsize" style="color:#3c7db0"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <i class="fa fa-building" id="groupsize" style="color:#3c7db0"></i>
</center>
</div>