// Place all the styles related to the Hashtag controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner-all {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height: 100px;
background-image: url(hashmashbg.jpg);
}

#searchbutton {
  background-color: #3c7db0;
  margin-right: 4px;
  margin-top: 16px;
  font-family: 'Raleway', sans-serif;
}

#createbutton {
  background-color: #78b5e3;
  margin-top: 16px;
  margin-right: 8px;
  font-family: 'Raleway', sans-serif;
}

.hashtag-font {
  font-family: 'Raleway', sans-serif;
}

#search-font {
  font-family: 'Raleway', sans-serif;
}

.hashtag-images {
  border-style: solid;
  border-color: #3c7db0;
}