// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.hero .container2 {
/*background-color: #4e505c;*/
/*background-color: #78b5e3;*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-image: url(hashmashbg.jpg);
width: 100%;
height: 550px;
}

.companiescontainer {
  background-color: #78b5e2;
  width: 100%;
  height: 100px;
}

.logo {
  background-color: #78b5e3;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  background-height: 100px;
}

#createbutton {
  /*background-color:rgba(255, 255, 255, 0.9);*/
  margin-right: 4px;
  margin-top: 16px;
  font-family: 'Cabin Condensed', sans-serif;
  /*text-shadow: 1px 1px 6px #88bee6;*/
  color: white;
  font-size: 20px;
  background-color: #4e7ea4;
  border-width: 3px;
  border-color: #4e7ea4;
  letter-spacing: 1px;
  font-weight: 400;

}




#createbutton:hover {
  /*background-color:rgba(255, 255, 255, 0.9);*/
  margin-right: 4px;
  margin-top: 16px;
  font-family: 'Cabin Condensed', sans-serif;
  /*text-shadow: 1px 1px 6px #88bee6;*/
  color: white;
  font-size: 20px;
  background-color: #4973a3;
  border-width: 3px;
  border-color: #4973a3;
  letter-spacing: 1px;
  font-weight: 400;

}

#searchbutton {
  background-color:rgba(97, 154, 204, 0.6);
  margin-top: 16px;
  margin-right: 8px;
  border-width: 3px;
  border-color: #4e7ea4;
 font-family: 'Cabin Condensed', sans-serif;
  /*text-shadow: 1px 1px 6px lightgray;*/
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}

#searchbutton:hover {
  background-color:rgba(97, 154, 204, 1);
  margin-top: 16px;
  margin-right: 8px;
  border-width: 3px;
  border-color: #4e7ea4;
 font-family: 'Cabin Condensed', sans-serif;
  /*text-shadow: 1px 1px 6px lightgray;*/
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}

.purposetext {
  font-family: 'Raleway', sans-serif;
  color: #c9deee;
  text-shadow: 2px 2px #899caa;
}

.purposetext2 {
  font-family: 'Raleway', sans-serif;
  color: #636465;
  text-shadow: 2px 2px white;
}

.purposetext3 {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-shadow: 1px 1px 1px #629dcc;
}

#groupsize {
  font-size: 6em;
  color: #3c7db0;
}

.cloud {
  opacity: 0.8;
}

#event-types {
  border-radius: 4px;
  width: 800px;
  height: 300px;
  background-color: #3c7db0;
  margin-top: 100px;

}

/*.parallex1 {
  position: absolute;
  right: -1000px;
  transition: right 1s ease;
}

.parallex2 {
  position: absolute;
  right: -1000px;
  transition: right 1s ease;
}

.parallex3 {
  position: absolute;
  right: -1000px;
  transition: right 1s ease;
}

.parallex4 {
  position: absolute;
  right: -1000px;
  transition: right 1s ease;
}

.parallex5 {
  position: absolute;
  right: -1000px;
  transition: right 1s ease;
}

#slidemenu {
  position: absolute;
  right: -1000px;
  transition: right 1s ease;
}*/

.icon1 {
  height: 100px;
}
.icon1:hover {
  opacity: .7;
  height: 105px;
}

.icon2 {
  height: 105px;
}
.icon2:hover {
  opacity: .7;
  height: 110px;
}

.icon3 {
  height: 130px;
}
.icon3:hover {
  opacity: .7;
  height: 135px;
}

.icon4 {
  height: 125px;
  padding-top: 25px;
}
.icon4:hover {
  opacity: .7;
  height: 130px;
}

.icon5 {
  height: 140px;
}
.icon5:hover {
  opacity: .7;
  height: 145px;
}

.infographicpic {
margin-left: 150px;
display: inline-block;
height: 450px;
width: 450px;
float: left;
padding-top: 10px;
}

.infographictext {
  height: 450px;
  width: 450px;
  display: inline-block;
  margin-right: 150px;
  margin-top: -20px;
  float: right;
}

.infographictext2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #719fbd;
}

.textspace1 {
  line-height: 45px;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 40px;
  color: #697780;
  text-shadow: 1px 1px 1px #b3d8f2;
}

.textspace2 {
  line-height: 32px;
}

.sharecontainer {
  background-color: #e6eef6;
}

.cloudcontainer {
width: 100%;
height: 590px;
background-image: url(cloudbg6.png);
}

.footerindex {
width: 100%;
height: 50px;
background-image: url(hashmashbg.jpg);
}

.videoplayer {
  /*background-image: url(hashmashbglower.png);*/
  border-radius: 20px;
  background-color: #5f99c7;
  height: 300px;
  width: 400px;
  display: inline-block;
  margin-top: 70px;
  margin-left: 50px;
 /* background-color: (228,235,249,.5);*/
}

.videotext {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

hr {
margin-top: 0.2em;
margin-bottom: 0.2em;
border-color: #4e7ea4;
}

#instasymbol {
  font-size: 3em;
  color: #4e7ea4;
}

.youhash {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px #899caa;
}

.videotextdiv {
margin-left: 150px;
display: inline-block;
height: 450px;
width: 550px;
float: left;
padding-top: 40px;
margin-top: 40px;
margin-right: 40px;
}
